.section {
    display: flex;
    flex-direction: column;
    height: 716px;
    width: 267px;
}

.cards {
    display: flex;
    flex-direction: column;
    width: 267px;
    overflow-y: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    align-items: center;
}