.header {
    display: flex;
    position: fixed;
    width: 263px;
    background-color: white;
    height: 40px;
    align-items: center;
}

.today {
    margin-right: auto;
    color: #50991f;
    padding-left: 4px;
}

.buttonAdd {
    margin-right: 4px;
    width: 24px;
    height: 24px;
    border-radius: 3px;
    color: white;
}

.quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    outline-color: rgb(187, 187, 187);
    outline-style: inset;
    outline-width: 1px;
    border-radius: 3px;
    margin-right: 4px;
    width: 28px;
    height: 24px;
}